<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pesionalized Learning - Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/admin/img/logo.png}" rel="icon">
  <link th:href="@{/admin/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/admin/css/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/admin/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/admin/css/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/admin/css/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/admin/css/remixicon.css}" rel="stylesheet">
  <link th:href="@{/admin/css/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/admin/css/style.css}" rel="stylesheet">
  <link th:href="@{/admin/css/job-custom.css}" rel="stylesheet">

</head>

<body>
	<!-- ======== response ========= -->
	<input id="editResponse" type="hidden" th:attr="value=${editResponse == null ? '' : editResponse}">
	
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/admin}" class="logo d-flex align-items-center">
        <img th:src="@{/admin/img/logo.png}" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img th:src="@{/admin/img/messages-1.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img th:src="@{/admin/img/messages-2.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img th:src="@{/admin/img/messages-3.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:src="@{/admin/img/avatar.png}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">H. Sac</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Nguyen Hong Sac</h6>
              <span>Admin 1</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/admin}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables Job</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{'/admin/job'}">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li>
          <li>
            <a th:href="@{'/admin/job/add'}">
              <i class="bi bi-circle"></i><span>Add new</span>
            </a>
          </li>
          <li>
            <a th:href="@{'/admin/job/edit?id=0'}" class="active">
              <i class="bi bi-circle"></i><span>Edit</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Data Job</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
          <li class="breadcrumb-item">Tables Job</li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" th:if="${editJob}">

              <img th:src="@{'/admin/img/job/'+${editJob.image}}" alt="Profile" class="rounded-circle">
              <h2 class="fs-4 text-center" th:text="${editJob.name}">Software Developer/Engineer</h2>
              <h3 class="fs-6 text-center" th:text="${editJob.require}">Designs, develops, tests, and maintains software applications.</h3>
              <div class="social-links d-flex flex-column">
                <a href="https://topdev.vn/" target="_blank" class="topdev mt-2"><i class="bi bi-laptop me-2"></i>https://topdev.vn/</a>
                <a href="https://github.com/" target="_blank" class="github mt-2"><i class="bi bi-github me-2"></i>https://github.com/</a>
                <a href="https://www.linkedin.com/feed/" target="_blank" class="linkedin mt-2"><i class="bi bi-linkedin me-2"></i>https://www.linkedin.com/feed/</a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"><i class="bi bi-journal-text me-2"></i>Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit"><i class="bi bi-pencil-square me-2"></i>Edit Job</button>
                </li>


                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#job-change-employer"><i class="bi bi-person-workspace me-2"></i>Change Employer</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"><i class="bi bi-gear me-2"></i>Settings</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview" th:if="${editJob}">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Job information is crucial for every college student, as it represents not only an opportunity but also a significant source of learning motivation.</p>

                  <h5 class="card-title">Job Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Job Name</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.name}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Description</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.description}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Require</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.require}"></div>
                  </div>
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Skills</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.skills}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Link</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.links}"><a href="https://www.linkedin.com/feed/" target="_blank">https://www.linkedin.com/feed/</a></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Employer</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.employer}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Offer</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.offer}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Experienced Level</div>
                    <div class="col-lg-9 col-md-8" th:text="${editJob.experienceLevel}"></div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Job Edit Form -->
                  <form id="editJobForm" class="needs-validation" novalidate th:if="${editJob}" th:object="${newEditJob}">
                  	<input type="hidden" th:field="*{id}" th:attr="value=''+${editJob.id}">
                    <div class="row mb-3">
                      <label for="jobImg" class="col-md-4 col-lg-3 col-form-label">Job Images</label>
                      <div class="col-md-8 col-lg-9">
                        <div>
                          <img th:src="@{'/admin/img/job/'+${editJob.image}}" alt="Job Img" id="jobImageSrc">
                        </div>
                        <div class="pt-2">
                          <a onclick="document.getElementById('jobImg').click();" class="btn btn-primary btn-sm" title="Upload new job image"><i class="bi bi-upload"></i>
                          <input type="file" name="jobImg" id="jobImg" class="d-none" onchange="previewImage(event)">
                          </a>
                          <a onclick="removeImage()" class="btn btn-danger btn-sm" title="Remove job image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobId" class="col-md-2 col-lg-2 col-form-label">Job Id</label>
                      <div class="col-md-1 col-lg-1">
                        <input name="jobId" type="text" class="form-control" id="jobId" th:attr="value=''+${editJob.id}" disabled>
                      </div>
                      <label for="jobName" class="col-md-2 col-lg-2 col-form-label">Job Name</label>
                      <div class="col-md-7 col-lg-7">
                        <input name="jobName" type="text" class="form-control" id="jobName" th:field="*{name}" th:attr="value=''+${editJob.name}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobDescription" class="col-md-4 col-lg-3 col-form-label">Description</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="jobDescription" class="form-control" id="jobDescription" style="height: 100px" th:field="*{description}" th:text="${editJob.description}"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobRequire" class="col-md-4 col-lg-3 col-form-label">Require</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="jobRequire" class="form-control" id="jobRequire" style="height: 100px"th:text="${editJob.require}" th:field="*{require}"  require></textarea>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <label for="jobSkills" class="col-md-4 col-lg-3 col-form-label">Skills</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="jobSkills" class="form-control" id="jobSkills" style="height: 100px"th:text="${editJob.skills}" th:field="*{skills}"  require></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobLink" class="col-md-4 col-lg-3 col-form-label">Link</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="jobLink" class="form-control" id="jobLink" style="height: 70px" th:field="*{links}" th:text="${editJob.links}"></textarea>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" onclick="preeditJob1(this.form)" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End job Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <form class="needs-validation" novalidate>

                    <div class="row mb-3">
                      <label for="jobName" class="col-md-4 col-lg-3 col-form-label">Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="jobChange" checked>
                          <label class="form-check-label" for="jobChange">
                            Changes made to table job
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new applier and employer
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" data-bs-toggle="modal" data-bs-target="editModal" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="job-change-employer">
                  <!-- Change Employer Form -->
                  <form method="post" class="needs-validation" novalidate>

                    <div class="row mb-3">
                      <label for="jobEmployer" class="col-md-4 col-lg-3 col-form-label">Employer</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="text" type="text" class="form-control" id="jobEmployer">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobOffer" class="col-md-4 col-lg-3 col-form-label">Offer</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="jobOffer" class="form-control" id="jobOffer" style="height: 100px"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobLevel" class="col-md-4 col-lg-3 col-form-label">Experienced Level</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="jobLevel" type="text" class="form-control" id="jobLevel">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" onclick="preeditJob2(this.form)" class="btn btn-primary">Change</button>
                    </div>
                  </form><!-- End Change Employer Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
  
  <!-- confirm modal -->
  <div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm editing</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex my-3">
            Are you sure to edit?
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="editJob()" type="button" class="btn btn-success">Change</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>  <!-- End Add modal -->

  <!-- Toast -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="editToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" ata-bs-delay="3000">
      <div class="toast-header">
        <img th:src="@{/admin/img/avatar.png}" class="avatar-sm rounded me-2" alt="...">
        <strong class="me-auto">Nguyen Hong Sac</strong>
        <small>1 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="editToastContent">
        Edit job successful!
      </div>
    </div>
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Group17</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://haui.edu.vn">Group 17</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/admin/js/apexcharts.min.js}"></script>
  <script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/admin/js/chart.umd.js}"></script>
  <script th:src="@{/admin/js/echarts.min.js}"></script>
  <script th:src="@{/admin/js/quill.min.js}"></script>
  <script th:src="@{/admin/js/simple-datatables.js}"></script>
  <script th:src="@{/admin/js/tinymce.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/admin/js/main.js}"></script>
  <script th:src="@{/admin/js/custom.js}"></script>
  <script th:src="@{/admin/js/table-job.js}"></script>

</body>

</html>