<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pesionalized Learning - Admin</title>
  <meta content="" name="jobDescription">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/admin/img/logo.png}" rel="icon">
  <link th:href="@{/admin/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/admin/css/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/admin/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/admin/css/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/admin/css/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/admin/css/remixicon.css}" rel="stylesheet">
  <link th:href="@{/admin/css/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/admin/css/style.css}" rel="stylesheet">
  <link th:href="@{/admin/css/job-custom.css}" rel="stylesheet">

</head>

<body>
	<!-- ======== response ========= -->
	<input id="addResponse" type="hidden" th:attr="value=${addResponse == null ? '' : addResponse}">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/admin}" class="logo d-flex align-items-center">
        <img th:src="@{/admin/img/logo.png}" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/../admin/img/messages-1.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/../admin/img/messages-2.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/../admin/img/messages-3.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:src="@{/admin/img/avatar.png}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">H. Sac</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Nguyen Hong Sac</h6>
              <span>Admin 1</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/admin}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables Job</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{'/admin/job'}">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li>
          <li>
            <a th:href="@{'/admin/job/add'}" class="active">
              <i class="bi bi-circle"></i><span>Add new</span>
            </a>
          </li>
          <li>
            <a th:href="@{'/admin/job/edit?id=0'}">
              <i class="bi bi-circle"></i><span>Edit</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Data Job</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
          <li class="breadcrumb-item">Tables Job</li>
          <li class="breadcrumb-item active">Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#job-add"><i class="bi bi-plus-circle me-2"></i>Add new</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#job-add-file"><i class="bi bi-plus-circle-fill me-2"></i>Add from file</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-edit pt-3" id="job-add">

                  <!-- Profile Add Form -->
                  <form id="addJobForm" class="needs-validation" novalidate th:object="${newJob}" enctype="multipart/form-data">
                    <div class="row mb-3">
                      <label for="jobImage" class="col-md-3 col-lg-2 col-form-label">Job Image</label>
                      <div class="col-md-9 col-lg-10">
                        <img th:src="@{/admin/img/job/job.jpg}" alt="Job Img" id="jobImageSrc">
                        <div class="pt-2">
                          <a onclick="document.getElementById('jobImg').click();" class="btn btn-primary btn-sm" title="Upload new job image"><i class="bi bi-upload"></i>
                          <input type="file" name="jobImg" id="jobImg" class="d-none" onchange="previewImage(event)">
                          </a>
                          <a onclick="removeImage()" class="btn btn-danger btn-sm" title="Remove job image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobName" class="col-md-3 col-lg-2 col-form-label">Job Name</label>
                      <div class="col-md-9 col-lg-10">
                        <input name="jobName" type="text" class="form-control" id="jobName" value="" required th:field="*{name}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobDescription" class="col-md-3 col-lg-2 col-form-label">Description</label>
                      <div class="col-md-9 col-lg-10">
                        <textarea name="jobDescription" class="form-control" id="jobDescription" style="height: 100px" th:field="*{description}"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobRequire" class="col-md-3 col-lg-2 col-form-label">Require</label>
                      <div class="col-md-9 col-lg-10">
                        <textarea name="jobRequire" class="form-control" id="jobRequire" style="height: 100px" required th:field="*{require}"></textarea>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <label for="jobSkills" class="col-md-3 col-lg-2 col-form-label">Skills</label>
                      <div class="col-md-9 col-lg-10">
                        <textarea name="jobSkills" class="form-control" id="jobSkills" style="height: 100px" required th:field="*{skills}"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobLink" class="col-md-3 col-lg-2 col-form-label">Link</label>
                      <div class="col-md-9 col-lg-10">
                        <textarea name="jobLink" class="form-control" id="jobLink" style="height: 70px" th:field="*{links}"></textarea>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <label for="jobEmployer" class="col-md-3 col-lg-2 col-form-label">Employer</label>
                      <div class="col-md-9 col-lg-10">
                        <input name="text" type="text" class="form-control" id="jobEmployer" th:field="*{employer}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobOffer" class="col-md-3 col-lg-2 col-form-label">Offer</label>
                      <div class="col-md-9 col-lg-10">
                        <textarea name="jobOffer" class="form-control" id="jobOffer" style="height: 100px" th:field="*{offer}"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="jobLevel" class="col-md-3 col-lg-2 col-form-label">Experienced Level</label>
                      <div class="col-md-9 col-lg-10">
                        <input name="jobLevel" type="text" class="form-control" id="jobLevel" th:field="*{experienceLevel}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" class="btn btn-primary" onclick="preaddJob(this.form)">Add New</button>
                    </div>
                  </form><!-- End Profile Add Form -->

                </div>
                
                <div class="tab-pane fade profile-edit pt-3" id="job-add-file">
                	<button class="btn btn-primary fs-5" onclick="document.getElementById('jobImgFile').click();"><i class="bi bi-file-earmark-arrow-up me-2"></i>Upload file</button>
                	<form th:action="@{/admin/job/addfile}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                		<input type="file" name="jobImgFile" id="jobImgFile" class="d-none">
                		<div class="text-start mt-3">
                      		<button type="submit" class="btn btn-outline-primary">Add New</button>
                    	</div>
                	</form>
                </div>

            </div>
          </div>

        </div>
      </div>
    </section>
  </main>

  <!-- Add modal -->
  <div class="modal fade" id="addModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm add new</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex my-3">
            Are you sure to add new?
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="addJob()" type="button" class="btn btn-success">Add New</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>  <!-- End Add modal -->
    
  <!-- Toast -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="addNewToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" ata-bs-delay="3000">
      <div class="toast-header">
        <img th:src="@{/admin/img/avatar.png}" class="avatar-sm rounded me-2" alt="...">
        <strong class="me-auto">Nguyen Hong Sac</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="addToastContent">
        Add new job successful!
      </div>
    </div>
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Group17</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://haui.edu.vn">Group 17</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/admin/js/apexcharts.min.js}"></script>
  <script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/admin/js/chart.umd.js}"></script>
  <script th:src="@{/admin/js/echarts.min.js}"></script>
  <script th:src="@{/admin/js/quill.min.js}"></script>
  <script th:src="@{/admin/js/simple-datatables.js}"></script>
  <script th:src="@{/admin/js/tinymce.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/admin/js/main.js}"></script>
  <script th:src="@{/admin/js/custom.js}"></script>
  <script th:src="@{/admin/js/table-job.js}"></script>
	
</body>

</html>