<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pesionalized Learning - Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/logo.svg" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons.min.css" rel="stylesheet">
  <link href="css/quill.snow.css" rel="stylesheet">
  <link href="css/quill.bubble.css" rel="stylesheet">
  <link href="css/remixicon.css" rel="stylesheet">
  <link href="css/simple-datatables-style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/job-custom.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/custom-home.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-around">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="img/logo.jpg" alt="">
        <h1 class="sitename"></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a th:href="@{/}" class="d-flex flex-column active">
              <i class="bi bi-house-door-fill"></i>
              <span>Home</span>
            </a></li>
          <li><a th:href="@{/page/todo-list}" class="d-flex flex-column">
              <i class="bi bi-check2-circle"></i>
              <span>Todolist</span>
            </a></li>
          <li><a th:href="@{/admin}" class="d-flex flex-column">
              <i class="bi bi-calendar"></i>
              <span>Administator</span>
            </a></li>
          <li><a th:href="@{/co}" class="d-flex flex-column">
              <i class="bi bi-briefcase-fill"></i>
              <span>Job</span>
            </a></li>
          <li><a href="" class="d-flex flex-column">
              <i class="bi bi-bell-fill"></i>
              <span>Notification</span>
            </a></li>
          <li><a href="#" class="account-btn d-flex flex-column">
              <div class="avatar"><img src="img/about-company-1.jpg" alt="Avatar"></div>
              <div class="d-inline-flex align-items-center justify-content-center account-sub">
                <span>Me</span><i class="bi bi-caret-down-fill fs-6"></i>
              </div>
            </a>
            <div class="account rounded shadow p-3 mb-5 d-flex flex-column">
              <div class="d-flex flex-row">
                <div class="avatar my-auto me-2"><img src="img/about-company-1.jpg" alt="Avatar"></div>
                <div class="d-flex flex-column">
                  <span class="fw-semibold">Nguyễn Hồng Sắc</span>
                  <span class="fw-light">Student year 3<sup>rd</sup></span>
                </div>
              </div>
              <div>
                <hr>
              </div>
              <div>
                <a href="#">
                  <i class="bi bi-person-gear"></i>
                  <span>Account</span></a>
              </div>
              <div>
                <a href="">
                  <i class="bi bi-translate"></i>
                  <span>Language</span></a>
              </div>
              <div>
                <a href="">
                  <i class="bi bi-question-circle-fill"></i>
                  <span>Help</span></a>
              </div>
              <div>
                <hr>
              </div>
              <div>
                <a href="">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign out</span></a>
              </div>
            </div>
          </li>
        </ul>
        <!-- <i class="mobile-nav-toggle d-md-none bi bi-list"></i> -->
      </nav>

      <!-- <a class="btn-getstarted" href="index.html#about">Get Started</a> -->

    </div>
  </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables Job</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-job.html">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li>
          <li>
            <a href="tables-job-add.html">
              <i class="bi bi-circle"></i><span>Add new</span>
            </a>
          </li>
          <li>
            <a href="tables-job-edit.html">
              <i class="bi bi-circle"></i><span>Edit</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Administator</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
          <li class="breadcrumb-item active">Administator</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section style="padding: 0;" class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Todos <span>| Year</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-checklist"></i>
                    </div>
                    <div class="ps-3">
                      <h6>54</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span
                        class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Jobs <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bounding-box"></i>
                    </div>
                    <div class="ps-3">
                      <h6>20</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span
                        class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Students <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>545</h6>
                      <span class="text-danger small pt-1 fw-bold"></span> <span
                        class="text-muted small pt-2 ps-1"></span>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <div class="col-12">
                    <div class="card">

                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>

                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>


                        <!-- Line Chart -->
                        <div id="reportsChart"></div>

                        <script th:inline="javascript">
                          // Convert Thymeleaf lists to JSON strings
                          var scores = /*[[${score}]]*/[];
                          var totals = /*[[${total}]]*/[];
                          var users = /*[[${user}]]*/[];

                          document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#reportsChart"), {
                              series: [{
                                name: 'Score',
                                data: scores,
                              }, {
                                name: 'Total',
                                data: totals
                              }],
                              chart: {
                                height: 350,
                                type: 'area',
                                toolbar: {
                                  show: false
                                },
                              },
                              markers: {
                                size: 4
                              },
                              colors: ['#4154f1', '#2eca6a', '#ff771d'],
                              fill: {
                                type: "gradient",
                                gradient: {
                                  shadeIntensity: 1,
                                  opacityFrom: 0.3,
                                  opacityTo: 0.4,
                                  stops: [0, 90, 100]
                                }
                              },
                              dataLabels: {
                                enabled: false
                              },
                              stroke: {
                                curve: 'smooth',
                                width: 2
                              },
                              xaxis: {
                                type: 'text',
                                categories: users
                              },
                              tooltip: {
                                x: {
                                  format: 'dd/MM/yy HH:mm'
                                },
                              }
                            }).render();
                          });
                        </script>
                        <!-- End Line Chart -->

                    </div>

                  </div><!-- End Reports -->
                </div>


              </div><!-- End Right side columns -->

            </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Group 17</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://haui.edu.vn">Group 17</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="js/apexcharts.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/chart.umd.js"></script>
  <script src="js/echarts.min.js"></script>
  <script src="js/quill.min.js"></script>
  <script src="js/simple-datatables.js"></script>
  <script src="js/tinymce.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>